<div class="video-player-wrapper">

  <h2>Angular Video Player with Controls Example</h2>
  <button class="prev" (click)="onPrev()">
    <img src="assets/icons-20-px-backward.svg" alt="">
  </button>
  <button class="next" (click)="onNext()">
    <img src="assets/icons-20-px-forward.svg" alt="">
  </button>
  <vg-player (onPlayerReady)="onPlayerReady()" (show)="showControls()" >


    <vg-overlay-play [vgSkipIfControlsHidden]="false"></vg-overlay-play>
    <vg-buffering ></vg-buffering>
    <vg-scrub-bar [vgSlider]="true">
      <vg-scrub-bar-current-time ></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time ></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <vg-controls  style="display: flex;background: transparent" vgFor="singleVideo" [vgAutohide]="false">
<!--      <vg-play-pause></vg-play-pause>-->
<!--      <vg-playback-button></vg-playback-button>-->

<!--      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>-->

<!--      <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>-->

      <div style="display: flex;align-items: center;color: #fff;width:100%;justify-content: space-between">
        <div style="display: flex;align-items: center">
          <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
          /
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
        </div>
        <vg-fullscreen></vg-fullscreen>

      </div>

      <vg-track-selector></vg-track-selector>
<!--      <vg-mute></vg-mute>-->
<!--      <vg-volume></vg-volume>-->

    </vg-controls>

    <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin >
      <source src="assets/Pexels%20Videos%201536279.mp4" type="video/mp4" >
      <source src="assets/Pexels%20Videos%201536279.mp4" type="video/mp4" >
      <source src="assets/Pexels%20Videos%201536279.mp4" type="video/mp4" >

<!--      <track kind="subtitles" label="English" src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt"-->
<!--             srclang="en" default>-->
<!--      <track kind="subtitles" label="Español" src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt"-->
<!--             srclang="es">-->
    </video>
  </vg-player>

</div>

